@import "tailwindcss";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui use property themes */
  themes: dim --default;
}

@layer override {
  .card-lg .card-body {
    @apply max-lg:[--card-p:1rem];
  }
}

@layer components {
  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}
